@page
@model HospitalClient.Pages.Medstaff.ScheduleModel
@using Utils
@{
}


<form asp-page="/Medstaff/Schedule" asp-page-handler="Schedule" method="post">
	Year:
	<select asp-for="year">

		@foreach (int i in Model.scheduleYear)
		{

			<option value="@i">@i</option>

		}
	</select>
	Week:
	<select asp-for="week">

		@for (int i = 1; i <= 52; i++)
		{
			<option value="@i">@Model.schedulesWeek[i - 1]</option>
		}
	</select>
	<button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Filter</button>

</form>

<div class="relative overflow-x-auto">
	<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
		<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
			<tr>
				<th scope="col" class="px-6 py-3">Slot</th>
				<th scope="col" class="px-6 py-3">Monday</th>
				<th scope="col" class="px-6 py-3">Tuesday</th>
				<th scope="col" class="px-6 py-3">Wednesday</th>
				<th scope="col" class="px-6 py-3">Thursday</th>
				<th scope="col" class="px-6 py-3">Friday</th>
				<th scope="col" class="px-6 py-3">Saturday</th>
				<th scope="col" class="px-6 py-3">Sunday</th>
			</tr>
		</thead>

		<tbody>
			@for (int i = 1; i <= 2; i++)
			{
				<tr>
					<td>Shift @i</td>
					@for (int j = 1; j <= 7; j++)
					{
						<td>
							@foreach (AppointmentResponse appointment in Model.Appointments)
							{
								@if((int) appointment.Date.ToDateTime().DayOfWeek == j && appointment.Shift.Id == i)
								{
									<span>@appointment.Id - @appointment.Patient.User.Username - @((Status) appointment.Status)</span> <br />

									<a class="text-white bg-red-500 border-0 focus:outline-none hover:bg-red-600 rounded" asp-page="/Appointment/Detail" asp-route-id="@appointment.Id">Detail</a>
								}

								@if ((int)appointment.Date.ToDateTime().DayOfWeek == 0 && appointment.Shift.Id == i && j == 7)
								{
									<span>@appointment.Id - @appointment.Patient.User.Username - @((Status)appointment.Status)</span> <br />
									<a class="text-white bg-red-500 border-0 focus:outline-none hover:bg-red-600 rounded" asp-page="/Appointment/Detail" asp-route-id="@appointment.Id">Detail</a>

								}

					}
						</td>
					}
				</tr>



			}

		</tbody>
	</table>
</div>