@page
@model HospitalClient.Pages.Appointment.AddModel
@{
}

<div class="container px-5 py-24 mx-auto">
	<div class="lg:w-4/5 mx-auto flex flex-wrap">
		<div class=" w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
			<h2 class="max-w-sm mx-auto text-sm title-font text-gray-500 tracking-widest ">Add</h2>

			<form method="post" class="max-w-sm mx-auto">

				<label for="MedStaffId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a doctor</label>
				<select name="MedStaffId" id="MedStaffId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
					<option selected>Choose a doctor</option>
					@if (Model.Medstaffs?.Count > 0 && Model.Medstaffs != null)
					{
						@foreach (MedstaffResponse medstaff in Model.Medstaffs)
						{
							<option value="@medstaff.Id">@medstaff.User?.Username</option>
						}
					}

				</select>


				<label for="ShiftId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a shift</label>
				<select name="ShiftId" id="ShiftId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
					<option selected>Choose a shift</option>
					@if (Model.Medstaffs?.Count > 0 && Model.Medstaffs != null)
					{
						@foreach (ShiftResponse shift in Model.Shifts)
						{
							<option value="@shift.Id">@shift.Start - @shift.End</option>
						}
					}
				</select>

				<div class="mb-5">
					<label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date</label>
					<input name="Date" type="date" value="" id="large-input" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
				</div>

				<button type="submit" class="flex ml-1 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Add</button>

			</form>
			<p class="max-w-sm mx-auto text-sm font-light text-red-500 dark:text-gray-400">
				@Model.Message
			</p>

		</div>
	</div>
</div>